body{
    background-color: #4285f4;
    font-family: 'ProductSans';
}

.mdc-card {
    height: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    overflow: hidden;
    margin-top: 15.5%;
}

.mdc-text-field{
    margin: 5px;
}

.font {
    font-family: 'ProductSans';
}
.mdc-button{
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

@font-face {
    font-family: 'ProductSans';
    src: url("fonts/productsans.ttf");
    }

.text-center {
    text-align: center;
}

@font-face {
    font-family: 'ProductSansBold';
    src: url("fonts/productsans_bold.ttf");
    }

.font-bold {
    font-family: 'ProductSansBold';
}

.primary-light {
    color: #80b4ff;
}

.primary-dark {
    color: #0059c1;
}

.primary {
    color: #4285f4;
}